//親セレクタの参照
.btn{
  display: block;
  &.red{
    background: red;
  }
  &.green{
    background: #007bff;
  }
}

//cssで
// body#top asideを書きたい時
aside{
  body#top &{
    width: 300px;
  }
}


//&&を二回入れることも可能

.block{
  width: 400px;
  & &__element{
    margin-bottom: 20px;
  }
}

//プロパティのネスト

div.border-box{
  border: {
    top: 2px solid #fff;
    bottom:{
      width: 5px;
      style: dotted;
    }
  };
}


//親要素を消すことができる@at-root

.block{
  .element{
    width: 80px;
  }

  @at-root {
    .element2 {
      width: 1000px;
    }

    .element3{
      width: 1000px;
    }
  }
}

//実行結果
//.block .element {
//  width: 80px;
//}
//.element2 {
//  width: 1000px;
//}

//ローカル変数を定義できる
footer{
  $value:29px;
}

//演算
.calc{
  width: 400px+8px;
}


